{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'store/css/footer.css' %}">
<div class="footer">
    <div class="footer-row">
        <div class="footer-column">
            <h3>TCG Store</h3>
            <div class="social-icons">
                <a href="mailto:example@example.com" title="Email"><i class="fas fa-envelope"></i></a>
                <a href="https://www.facebook.com" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.whatsapp.com" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                <li><a href="{% url 'pre-order-info' %}">Pre-Order Info</a></li>
                <li><a href="{% url 'about-us' %}">About Us</a></li>
                <li><a href="{% url 'shipping-policy' %}">Shipping Policy</a></li>
                <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'refund-policy' %}">Refund Policy</a></li>
                <li><a href="{% url 'terms-of-service' %}">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Welcome to TCG Store</h3>
            <p>Description of the store here</p>
        </div>
        <div class="footer-column">
            <h3>Payment Options</h3>
            <p>List of all payment options here</p>
        </div>
    </div>
    <div class="footer-bottom">
        @2024 TCG Store
    </div>
</div>
