<div class="sidebar">
    <h3>Navigation</h3>
    <ul>
        <li>
            <a onclick="toggleNested(this)">Pokémon</a>
            <ul class="nested">
                <li>
                    <a onclick="toggleNested(this)">Sealed Product</a>
                </li>
                <li>
                    <a onclick="toggleNested(this)">Opened Product</a>
                    <ul class="nested">
                        <li>
                            <a onclick="toggleNested(this)">Scarlet and Violet</a>
                            <ul class="nested">
                                <li style="padding-left: 20px;">
                                    <a onclick="selectItem(this)" href="#">Surging Sparks</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a onclick="toggleNested(this)">Sword and Shield</a>
                            <ul class="nested">
                                <li style="padding-left: 20px;">
                                    <a onclick="selectItem(this)" href="#">Crown Zenith</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
