{% extends 'store/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p><strong>TCG Store</strong> is home to South Africa's most loved collectibles, trading cards, board games, and accessories.</p>
    <p>We stock the best in TCG:</p>
    <ul>
        <li>Pokémon</li>
        <li><a href="#">Other cards here</a></li>
    </ul>
    <p>
        Subscribe to our newsletter, or give us a follow on
        <strong>Instagram</strong>, <strong>Facebook</strong>, or <strong>Twitter</strong> to stay up to date with our latest offerings.
    </p>
    <p>
        At <strong>TCG Store</strong>, we strive to bring you the best prices on all our goods.
    </p>
    <p>For your convenience, we deliver our products throughout South Africa.</p>
    <p>
        Our products are delivered by <strong>Delivery Company</strong>, and you can expect fast and speedy delivery to your door.
    </p>
    <p>
        <strong>TCG Store</strong> is a registered (PTY) Ltd.
    </p>
    <p>
        Payments on our site are made through <strong>PayPortal</strong>, offering a fast and secure online payment experience with South Africa’s leading payment gateway.
    </p>
    <p>
        Be sure to take advantage of our Free Delivery options, which add exceptional value for money.
    </p>
    <p>
        If you would like to suggest new products to us or have your brand or products featured by <strong>TCG Store</strong> in our blog,
        <strong>please feel free to contact us with your suggestions</strong>.
    </p>
</div>
{% endblock %}
