{% extends 'store/base.html' %}

{% block title %}Pre-Order Info{% endblock %}

{% block content %}
<div class="container">
    <h1>Pre-Order Info</h1>
    <h2>Pre Order Cancellations</h2>
    <p>Cancellation of Pre-Orders will incur a 15% Processing Fee. No exceptions will be made.</p>

    <h2>When Will My Order Ship?</h2>
    <p>
        All orders containing Pre-Order products will be held until the release/arrival of all items in that order.
        Please note, Pre-order arrival dates are subject to change and often do. This is often due to production or
        shipping delays beyond our control.
    </p>

    <h2>Can Pre-Order Prices Change?</h2>
    <p>
        Prices on pre-orders are subject to change when the items arrive, and can be amended before orders are dispatched.
        In order to secure a pre-order, the payment in full is required. This payment is non-refundable.
    </p>

    <h2>Can You Send Some of What I Ordered Early?</h2>
    <p>
        Should you wish to split part of an order to be sent ahead of time, it will require the purchase of an additional
        R99 shipping charge.
    </p>

    <h2>Quantity & Order Adjustments</h2>
    <p>
        We reserve the right to adjust quantities of products ordered. These decisions will be made on a case-by-case basis
        and you will be notified of any changes. Pre-Orders can be subject to allocation and if amounts become more limited
        we will fulfill orders in order they are received.
    </p>
</div>
{% endblock %}
